.Checkbox_label {
  display: flex;
  align-items: center;
  column-gap: 6px;
  font-size: 14px;
  cursor: pointer;
}

.Checkbox_wrapper {
  all: unset;
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 10px;
  border-radius: 2px;
}

.Checkbox_wrapper[data-state='checked'] {
  background-color: black;
  color: white;
}

.Checkbox_wrapper[data-state='checked'] svg {
  width: 14px;
  height: 14px;
  display: flex;
}

.Checkbox_wrapper {
  box-shadow: black 0px 0px 0px 2px;
}
